.footer {
  display: flex;
  justify-content: center;
  color: #545454;
  background-color: #f7f7f7;
  font-size: 14px;
  line-height: 19px;

  & a {
    color: #545454;
  }

  & p {
    padding-top: 30px;
    padding-bottom: 28px;
    margin: 0;
  }
}
