
button {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (max-width: 767px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }

  @media screen and (min-width: 1024px) {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.header-section-library {
  font-family: 'Roboto', sans-serif;
  line-height: 1.17;
  padding: 41px 0 65px 0;
}

.header-bg-library {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
  url(../images/my-library/header-library-background-desktop@1x.jpg);
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/my-library/header-library-background-mobile@2x.jpg);
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/my-library/header-library-background-tablet@2x.jpg);
  }
}

.nav, .nav__logo, .nav__side-nav {
  display: flex;
  flex-flow: row nowrap;
}

.nav {

  justify-content: space-between;
  align-items: center;

  &__logo, &__side-nav-link {
    color: #FFFFFF;
    text-decoration: none;
  }

  &__logo {
    gap: 10px;
    align-items: center;
  }

  &__logo-name {
    font-size: 30px;
    font-weight: 500;
  }

  &__side-nav {
    gap: 40px;
  }

  &__side-nav-link {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;

    &.active::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 100%;
      bottom: -3px;
      left: 0;
      background-color: #FF6B08;
    }
  }
}

.storage {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 45px;

  &__btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 14px 38px 12px 38px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    transition-property: background-color, border, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: ease;

    &.active {
      background-color: #FF6B01;
      box-shadow: 0 8px 43px rgba(255, 107, 1, 0.6);
      border: 1px solid #FF6B01;

    }
  }

  &__btn-text {
    display: inline-block;
    width: 60px;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
  }
}
