<footer class="footer">
  <div class="footer__text">
    <div class="footer__text-first">© 2023 | All Rights Reserved |</div>
    <div>
      Developed with
      <svg width="14" height="12.75">
        <use xlink:href="./images/icons.svg#icon-heart"></use>
      </svg>
      by <a href="#" data-modal-open>Harnaś Team</a>
    </div>
  </div>
</footer>

<!-- modal-team -->
<div class="modal is-hidden" data-modal>
  <div class="modal__block">
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg class="modal__close-icon" width="15" height="16">
        <use href="images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="team">
      <div class="team__bgr team__bgr-emil">
        <div class="team__info">
          <p class="team__info-name">Emil</p>
          <p class="team__info-role">team leader</p>
          <div class="team__info-icon">
            <a href="" class="team__media" target="_blank"
              ><svg class="team__media-icon">
                <use href="images/icons.svg#icon-linkedin"></use></svg></a
            ><a href="" class="team__media" target="_blank"
              ><svg class="team__media-icon">
                <use href="images/icons.svg#icon-github"></use></svg
            ></a>
          </div>
        </div>
      </div>
      <div class="team__bgr team__bgr-piotr">
        <div class="team__info">
          <p class="team__info-name">Piotr</p>
          <p class="team__info-role">scrum master</p>
          <div class="team__info-icon">
            <a
              href="https://linkedin.com/in/piotr-grabowski-282777216/"
              class="team__media"
              target="_blank"
              ><svg class="team__media-icon">
                <use href="images/icons.svg#icon-linkedin"></use></svg></a
            ><a
              href="https://github.com/piotrgrabowski97"
              class="team__media"
              target="_blank"
              ><svg class="team__media-icon">
                <use href="images/icons.svg#icon-github"></use></svg
            ></a>
          </div>
        </div>
      </div>
      <div class="team__bgr team__bgr-aleksandra">
        <div class="team__info">
          <p class="team__info-name">Aleksandra</p>
          <p class="team__info-role">developer</p>
          <div class="team__info-icon">
            <a
              href="https://linkedin.com/in/aleksandratarnas/"
              class="team__media"
              target="_blank"
              ><svg class="team__media-icon">
                <use href="images/icons.svg#icon-linkedin"></use></svg></a
            ><a
              href="https://github.com/taaleksandra"
              class="team__media"
              target="_blank"
              ><svg class="team__media-icon">
                <use href="images/icons.svg#icon-github"></use></svg
            ></a>
          </div>
        </div>
      </div>
      <div class="team__bgr team__bgr-malgorzata">
        <div class="team__info">
          <p class="team__info-name">Małgorzata</p>
          <p class="team__info-role">developer</p>
          <div class="team__info-icon">
            <a
              href="https://www.linkedin.com/in/gosia-antoniak/"
              class="team__media"
              target="_blank"
              ><svg class="team__media-icon">
                <use href="images/icons.svg#icon-linkedin"></use></svg></a
            ><a
              href="https://github.com/GosiaAntoniak"
              class="team__media"
              target="_blank"
              ><svg class="team__media-icon">
                <use href="images/icons.svg#icon-github"></use></svg
            ></a>
          </div>
        </div>
      </div>

      <div class="team__bgr team__bgr-patryk">
        <div class="team__info">
          <p class="team__info-name">Patryk</p>
          <p class="team__info-role">developer</p>
          <div class="team__info-icon">
            <a
              href="https://linkedin.com/in/patryk-szafranek-133a42255/"
              class="team__media"
              target="_blank"
              ><svg class="team__media-icon">
                <use href="images/icons.svg#icon-linkedin"></use></svg></a
            ><a
              href="https://github.com/patrykszafranek"
              class="team__media"
              target="_blank"
              ><svg class="team__media-icon">
                <use href="images/icons.svg#icon-github"></use></svg
            ></a>
          </div>
        </div>
      </div>
      <div class="team__bgr team__bgr-olga">
        <div class="team__info">
          <p class="team__info-name">Olga</p>
          <p class="team__info-role">developer</p>
          <div class="team__info-icon">
            <a
              href="https://linkedin.com/in/olga-pikulska-5a621a250/"
              class="team__media"
              target="_blank"
              ><svg class="team__media-icon">
                <use href="images/icons.svg#icon-linkedin"></use></svg></a
            ><a
              href="https://github.com/OlgaPikulska"
              class="team__media"
              target="_blank"
              ><svg class="team__media-icon">
                <use href="images/icons.svg#icon-github"></use></svg
            ></a>
          </div>
        </div>
      </div>
      <div class="team__bgr team__bgr-anna">
        <div class="team__info">
          <p class="team__info-name">Anna</p>
          <p class="team__info-role">developer</p>
          <div class="team__info-icon">
            <a
              href="https://linkedin.com/in/anna-michałowska-b543bb97/"
              class="team__media"
              target="_blank"
              ><svg class="team__media-icon">
                <use href="images/icons.svg#icon-linkedin"></use></svg></a
            ><a
              href="https://github.com/annamichalowska"
              class="team__media"
              target="_blank"
              ><svg class="team__media-icon">
                <use href="images/icons.svg#icon-github"></use></svg
            ></a>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/modal-team.js"></script>
  </div>
</div>
