<footer class="footer">
  <div class="footer__text">
    <div class="footer__text-first">© 2023 | All Rights Reserved |</div>
    <div>
      Developed with
      <svg width="14" height="12.75">
        <use xlink:href="./images/icons.svg#icon-heart"></use>
      </svg>
      by <a href="#" data-modal-open>Harnaś Team</a>
    </div>
  </div>
</footer>

<!-- modal-team -->
<div class="modal is-hidden" data-modal>
  <div class="modal__block">
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg class="modal__close-icon" width="15" height="16">
        <use href="images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__block-header"></div>
    <div class="modal__block-team">
      <figure class="team team__first">
        <img src="images/example.jpg" alt="Emil photo" />
        <figcaption>
          <p class="team__name">Emil</p>
          <p class="team__role">Team Leader</p>
          <div class="team__media">
            <div class="team__media-icon first">
              <a href="" class="team__media-link first-icon"
                ><svg class="modal__media-icon">
                  <use href="images/icons.svg#icon-linkedln"></use></svg
              ></a>
            </div>
            <div class="team__media-icon first">
              <a href="" class="team__media-link first-icon"
                ><svg class="modal__media-icon">
                  <use href="images/icons.svg#icon-github"></use></svg
              ></a>
            </div>
          </div>
        </figcaption>
      </figure>
      <figure class="team team__second">
        <img src="images/example.jpg" alt="Piotr photo" />
        <figcaption>
          <p class="team__name">Piotr</p>
          <p class="team__role">Scrum Master</p>
          <div class="team__media">
            <div class="team__media-icon second">
              <a href="" class="team__media-link second-icon"
                ><svg class="modal__media-icon">
                  <use href="images/icons.svg#icon-linkedln"></use></svg
              ></a>
            </div>
            <div class="team__media-icon second">
              <a href="" class="team__media-link second-icon"
                ><svg class="modal__media-icon">
                  <use href="images/icons.svg#icon-github"></use></svg
              ></a>
            </div>
          </div>
        </figcaption>
      </figure>
      <figure class="team team__first">
        <img src="images/example.jpg" alt="Aleksandra photo" />
        <figcaption>
          <p class="team__name">Aleksandra</p>
          <p class="team__role">Developer</p>
          <div class="team__media">
            <div class="team__media-icon first">
              <a href="" class="team__media-link first-icon"
                ><svg class="modal__media-icon">
                  <use href="images/icons.svg#icon-linkedln"></use></svg
              ></a>
            </div>
            <div class="team__media-icon first">
              <a href="" class="team__media-link first-icon"
                ><svg class="modal__media-icon">
                  <use href="images/icons.svg#icon-github"></use></svg
              ></a>
            </div>
          </div>
        </figcaption>
      </figure>
      <figure class="team team__second">
        <img src="images/example.jpg" alt="Małgorzata photo" />
        <figcaption>
          <p class="team__name">Małgorzata</p>
          <p class="team__role">Developer</p>
          <div class="team__media">
            <div class="team__media-icon second">
              <a href="" class="team__media-link second-icon"
                ><svg class="modal__media-icon">
                  <use href="images/icons.svg#icon-linkedln"></use></svg
              ></a>
            </div>
            <div class="team__media-icon second">
              <a href="" class="team__media-link second-icon"
                ><svg class="modal__media-icon">
                  <use href="images/icons.svg#icon-github"></use></svg
              ></a>
            </div>
          </div>
        </figcaption>
      </figure>
      <figure class="team team__first">
        <img src="images/example.jpg" alt="Patryk photo" />
        <figcaption>
          <p class="team__name">Patryk</p>
          <p class="team__role">Developer</p>
          <div class="team__media">
            <div class="team__media-icon first">
              <a href="" class="team__media-link first-icon"
                ><svg class="modal__media-icon">
                  <use href="images/icons.svg#icon-linkedln"></use></svg
              ></a>
            </div>
            <div class="team__media-icon first">
              <a href="" class="team__media-link first-icon"
                ><svg class="modal__media-icon">
                  <use href="images/icons.svg#icon-github"></use></svg
              ></a>
            </div>
          </div>
        </figcaption>
      </figure>
      <figure class="team team__second">
        <img src="images/example.jpg" alt="Olga photo" />
        <figcaption>
          <p class="team__name">Olga</p>
          <p class="team__role">Developer</p>
          <div class="team__media">
            <div class="team__media-icon second">
              <a href="" class="team__media-link second-icon"
                ><svg class="modal__media-icon">
                  <use href="images/icons.svg#icon-linkedln"></use></svg
              ></a>
            </div>
            <div class="team__media-icon second">
              <a href="" class="team__media-link second-icon"
                ><svg class="modal__media-icon">
                  <use href="images/icons.svg#icon-github"></use></svg
              ></a>
            </div>
          </div>
        </figcaption>
      </figure>
      <figure class="team team__first">
        <img src="images/example.jpg" alt="Anna photo" />
        <figcaption>
          <p class="team__name">Anna</p>
          <p class="team__role">Developer</p>
          <div class="team__media">
            <div class="team__media-icon first">
              <a href="" class="team__media-link first-icon"
                ><svg class="modal__media-icon">
                  <use href="images/icons.svg#icon-linkedln"></use></svg
              ></a>
            </div>
            <div class="team__media-icon first">
              <a href="" class="team__media-link first-icon"
                ><svg class="modal__media-icon">
                  <use href="images/icons.svg#icon-github"></use></svg
              ></a>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
<script src="./js/modal-team.js"></script>
