<main class='grid_my_library'>
  <ul class='container grid_my_library__elements'>
    <li>
      <button class='grid_my_library__element'
              role='button'
              title='Code Name Banshee'>
        <img src='https://image.tmdb.org/t/p/w300/g29dShv0wHJUvif2KPq039imds5.jpg'
             class='grid_my_library__element-img'
             alt='Code Name Banshee' />
        <span class='grid_my_library__element-title'>Code Name Banshee</span><br/>
        <span class='grid_my_library__element-category'>Drama, Comedy</span>
        <span class='grid_my_library__element-year'>2022</span>
        <span class='grid_my_library__element-score'>5.3</span>
      </button>
    </li>
    <li>
      <button class='grid_my_library__element'
              role='button'
              title='Code Name Banshee'>
        <img src='https://image.tmdb.org/t/p/w300/g29dShv0wHJUvif2KPq039imds5.jpg'
             class='grid_my_library__element-img'
             alt='Code Name Banshee' />
        <span class='grid_my_library__element-title'>Code Name Banshee</span><br/>
        <span class='grid_my_library__element-category'>Drama, Comedy</span>
        <span class='grid_my_library__element-year'>2022</span>
        <span class='grid_my_library__element-score'>5.3</span>
      </button>
    </li>
    <li>
      <button class='grid_my_library__element'
              role='button'
              title='Code Name Banshee'>
        <img src='https://image.tmdb.org/t/p/w300/g29dShv0wHJUvif2KPq039imds5.jpg'
             class='grid_my_library__element-img'
             alt='Code Name Banshee' />
        <span class='grid_my_library__element-title'>Code Name Banshee</span><br/>
        <span class='grid_my_library__element-category'>Drama, Comedy</span>
        <span class='grid_my_library__element-year'>2022</span>
        <span class='grid_my_library__element-score'>5.3</span>
      </button>
    </li>
    <li>
      <button class='grid_my_library__element'
              role='button'
              title='Code Name Banshee'>
        <img src='https://image.tmdb.org/t/p/w300/g29dShv0wHJUvif2KPq039imds5.jpg'
             class='grid_my_library__element-img'
             alt='Code Name Banshee' />
        <span class='grid_my_library__element-title'>Code Name Banshee</span><br/>
        <span class='grid_my_library__element-category'>Drama, Comedy</span>
        <span class='grid_my_library__element-year'>2022</span>
        <span class='grid_my_library__element-score'>5.3</span>
      </button>
    </li>
    <li>
      <button class='grid_my_library__element'
              role='button'
              title='Code Name Banshee'>
        <img src='https://image.tmdb.org/t/p/w300/g29dShv0wHJUvif2KPq039imds5.jpg'
             class='grid_my_library__element-img'
             alt='Code Name Banshee' />
        <span class='grid_my_library__element-title'>Code Name Banshee</span><br/>
        <span class='grid_my_library__element-category'>Drama, Comedy</span>
        <span class='grid_my_library__element-year'>2022</span>
        <span class='grid_my_library__element-score'>5.3</span>
      </button>
    </li>
  </ul>
</main>
