<div class="more-info-modal">
  <button class="more-info-modal__close-btn">
    <img class="more-info-modal__close-btn--icon" src="./images/close.svg" />
  </button>
  <div class="container-modal">
    <img class="more-info-modal__poster" />
    <div>
      <h1 class="more-info-modal__title">PRETTY WOMAN</h1>
      <h3 class="more-info-modal__subtitle">ABOUT</h3>
      <p class="more-info-modal__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad consequatur
        beatae aspernatur eum, vitae excepturi deserunt quia culpa illum,
        cupiditate reiciendis cum sequi, omnis a dolore velit similique
        recusandae fugiat? Molestiae dolore aperiam commodi eum, itaque
        voluptates porro, quo cupiditate aspernatur doloremque similique ea rem
        quis qui, quos nesciunt dolor eveniet neque iure nulla nihil incidunt
        cum cumque! Deserunt perspiciatis repudiandae eveniet voluptatibus rem
        non at placeat eius id, dolor ex amet vitae pariatur et dicta facere
        soluta! Omnis architecto saepe quasi porro consequatur ea, eveniet enim
        laudantium eos ipsum debitis iure fugiat reiciendis quae, voluptate
        minus dignissimos! Saepe, ea.
      </p>
      <div class="more-info-modal__btn-box">
        <button class="more-info-modal__btn more-info-modal__btn--watched">
          ADD TO WATCHED
        </button>
        <button class="more-info-modal__btn more-info-modal__btn--queue">
          ADD TO QUEUE
        </button>
      </div>
    </div>
  </div>
</div>

<script type="module" src="./js/more-info-modal.js"></script>
