<section class="pag-btns">
  <button
    type="button"
    class="pag-btns__arrow pag-btns__arrow--prev pag-btns__arrow--is-hidden"
  >
    <svg class="pag-btns__icon">
      <use href="images/sprite-arrows.svg#icon-arrow-left-1"></use>
    </svg>
  </button>

  <div class="btn-box"></div>

  <button
    type="button"
    class="pag-btns__arrow pag-btns__arrow--next pag-btns__arrow--is-hidden"
  >
    <svg class="pag-btns__icon">
      <use href="images/sprite-arrows.svg#icon-arrow-right-1"></use>
    </svg>
  </button>
</section>
