<section class="pag-btns">
  <button
    type="button"
    class="pag-btns__arrow pag-btns__arrow--prev pag-btns__arrow--is-hidden"
  >
    <svg class="pag-btns__icon">
      <use href="images/sprite-arrows.svg#icon-arrow-left-1"></use>
    </svg>
  </button>

<div class="btn-box"></div>
  <button type="button" class="pag-btns__btn pag-btns__btn--is-hidden">
    1
  </button>
  
  <button type="button" class="pag-btns__dots pag-btns__dots--is-hidden">
    ...
  </button>
  
    <button type="button" class="pag-btns__btn pag-btns__btn--is-hidden">
      2
    </button>
    <button type="button" class="pag-btns__btn pag-btns__btn--is-hidden">
      3
    </button>
    <button type="button" class="pag-btns__btn pag-btns__btn--is-hidden">
      4
    </button>
    <button type="button" class="pag-btns__btn pag-btns__btn--is-hidden">
      5
    </button>
    <button type="button" class="pag-btns__btn pag-btns__btn--is-hidden">
      6
    </button>

    <button type="button" class="pag-btns__dots pag-btns__dots--is-hidden">
    ...
  </button>

    <button type="button" class="pag-btns__btn pag-btns__btn--is-hidden">
      7
    </button>
  </div>

  <button
    type="button"
    class="pag-btns__arrow pag-btns__arrow--next pag-btns__arrow--is-hidden"
  >
    <svg class="pag-btns__icon">
      <use href="images/sprite-arrows.svg#icon-arrow-right-1"></use>
    </svg>
  </button>
</section>
