.form-box {
  display: flex;
}
.firebase_block {
  position: absolute;
  left: 50%;
  // transform: translateX(-50%);
}
.firebase_modal {
  position: relative;
  background-color: get-bg-color(basic);
  z-index: 100;
  border: 1px solid #ccc;
  border-radius: 5px;

  display: none;
  transition: transform 250ms linear, visibility 250ms linear,
    opacity 250ms linear;
}
.form-firebase__closeBtn {
  background-color: transparent;
  position: absolute;
  border: none;
  right: 20;
  top: 20;
  cursor: pointer;

  transition: color 250ms linear;
}
.form-firebase__closeBtn:hover {
  color: get-bg-color(leading);
}
.form-firebase-login {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-firebase {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-firebase__paragraph {
  padding-top: 10px;
  font-size: 14px;
  color: #333;
}
#changeToLoginModal {
  margin-left: 2px;
}
.form-firebase__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
}

.form-firebase__field {
  margin-bottom: 20px;
}

.form-firebase__label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}
.form-firebase__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.form-firebase__input:focus {
  border-color: get-bg-color(leading);
}

.form-firebase__button {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 1.33;
  padding: 14px 8px 12px 8px;
  border-radius: 5px;
  height: 44px;
  width: 100%;
  border: 0px solid;
  color: get-font-color(dark-text);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  cursor: pointer;
  background-color: get-bg-color(basic);
  overflow: hidden;

  outline: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline-color: rgb(134, 134, 129);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.form-firebase__button:hover {
  border: 1px solid white;
  color: get-font-color(on-leading-bg);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 10px;
  text-shadow: 1px 1px 2px #427388;
  background-color: get-bg-color(leading);
}

.sign-out-Btn {
  padding: 10px;
  background-color: #0095a8;
}

.firebase_modal.fade-in {
  animation: fadeIn 0.5s;
  // transition: opacity 250ms linear;
}
.firebase_modal.fade-out {
  animation: fadeOut 0.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
