.footer {
  & a {
    color: #545454;
  }

  & svg {
    margin-right: 10px;
    margin-left: 10px;
  }

  &__text {
    padding-top: 28.7px;
    padding-bottom: 29.7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #545454;
    background-color: #f7f7f7;
    font-size: 14px;
    line-height: 19px;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      padding-top: 30px;
      padding-bottom: 28px;
    }
  }

  &__text-first {
    margin-right: 5px;
    margin-bottom: 9.9px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    & .modal__block {
      transform: scale(2);
    }
  }

  &__block {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      width: 528px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #545454;
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: #ff6b08;
      color: white;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover .modal__close-icon,
    &:focus .modal__close-icon {
      fill: white;
    }
  }

  &__close-icon {
    fill: #545454;
    width: 11px;
    height: 11px;
  }
}
