.footer {
  & a {
    color: #545454;
  }

  & svg {
    margin-right: 10px;
    margin-left: 10px;
  }

  &__text {
    padding-top: 28.7px;
    padding-bottom: 29.7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #545454;
    background-color: #f7f7f7;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    align-content: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      padding-top: 30px;
      padding-bottom: 28px;
    }

    &-first {
      margin-right: 0;
      margin-bottom: 9.9px;
      @media screen and (min-width: 768px) {
        margin-bottom: 0;
        margin-right: 5px;
      }
    }
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    & .modal__block {
      transform: scale(1);
    }
  }

  &__block {
    position: relative;
    top: 1300px;
    left: 50%;
    width: 250px;
    background-color: #332d29;
    height: 2550px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      width: 500px;
      height: 1500px;
      top: 800px;
    }

    @media screen and (min-width: 1024px) {
      width: 1000px;
      height: 800px;
      top: 50%;
    }
  }

  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #545454;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: white;
      border: 1px solid #545454;
      transition: background-color 650ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover .modal__close-icon,
    &:focus .modal__close-icon {
      fill: #545454;
      transition: fill 650ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__close-icon {
    fill: white;
    width: 11px;
    height: 11px;
  }
}

.team {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  top: 50px;
  padding-bottom: 30px;
  grid-template-columns: 100%;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  &__bgr {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    object-fit: cover;
    position: relative;
    height: 350px;
    width: 250px;

    &-emil {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url(../images/modal-team/emil.jpg);
    }

    &-piotr {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url(../images/modal-team/piotr.jpg);
    }

    &-aleksandra {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url(../images/modal-team/aleksandra.jpg);
    }

    &-malgorzata {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url(../images/modal-team/malgorzata.jpg);
    }

    &-patryk {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url(../images/modal-team/patryk.jpg);
    }

    &-olga {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url(../images/modal-team/olga.jpg);
    }

    &-anna {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url(../images//modal-team/anna.jpg);
    }
  }

  &__info {
    color: white;
    padding: 180px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-name {
      padding-bottom: 20px;
      font-size: 40px;
    }

    &-role {
      padding-bottom: 35px;
    }

    &-icon {
      display: flex;
    }
  }

  &__media {
    display: flex;
    justify-content: center;

    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }

    &-icon {
      width: 20px;
      height: 20px;
      fill: white;

      &:hover,
      &:focus {
        fill: #ff6b08;
        transition: fill 650ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}
