.header-my-library {
  &__bg {
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/my-library/header-library-background-mobile@2x.jpg);

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/my-library/header-library-background-tablet@2x.jpg);
    }

    // ----- DESKTOP -----
    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/my-library/header-library-background-desktop@1x.jpg);
    }

  }

  &__container {
    line-height: 1.17;
    padding-top: 41px;
    padding-bottom: 65px;
  }
}

.nav,
.nav__logo,
.nav__side-nav {
  display: flex;
  flex-flow: row nowrap;
}

.nav {
  justify-content: space-between;
  align-items: center;

  &__logo,
  &__side-nav-link {
    color: #ffffff;
    text-decoration: none;
  }

  &__logo {
    gap: 10px;
    align-items: center;
  }

  &__logo-icon {
    color: #818181;
  }

  &__logo-name {
    font-size: 30px;
    font-weight: 500;
    visibility: hidden;

    @media screen and (min-width: 768px) {
      visibility: visible;
    }

    // ----- DESKTOP -----
    @media screen and (min-width: 1024px) {
      visibility: visible;
    }
  }

  &__side-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 40px;
  }

  &__side-nav-link {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 100%;
      bottom: -3px;
      left: 0;
      max-width: 0;
      transition: max-width 250ms ease;
    }

    &:hover:after {
      background-color: #ffffff;
      max-width: 100%;
    }

    &.active::after {
      background-color: #ff6b08;
      max-width: 100%;
    }
  }
}

.my-library-space {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  margin-top: 45px;
  @media screen and (min-width: 768px) {
    gap: 15px;
  }

  // ----- DESKTOP -----
  @media screen and (min-width: 1024px) {
    gap: 15px;
  }

  &__btn {
    position: relative;
    display: flex;
    cursor: pointer;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 14px 38px 12px 38px;
    background-color: transparent;
    border: 1px solid #ffffff;
    transition-property: background-color, border, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: ease;

    &.active {
      background-color: #ff6b01;
      box-shadow: 0 8px 43px rgba(255, 107, 1, 0.6);
      border: 1px solid #ff6b01;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height:100%;
      top:0;
      opacity: 0;
      border-radius: 5px;
      background-color: #ff6b01;
      transition: opacity, 300ms ease;
    }

    &:hover:after {
      opacity: .35;
    }
  }

  &__btn-text {
    display: inline-block;
    width: 60px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
  }
}

