.header-home {
  &__bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/home/header-home-mobile@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/home/header-home-mobile@2x.jpg);
    }
    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/home/header-home-tablet@1x.jpg);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url(../images/home/header-home-tablet@2x.jpg);
      }
    }
    @media screen and (min-width: 1024px) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/home/header-home-desktop@1x.jpg);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.56),
            rgba(0, 0, 0, 0.56)
          ),
          url(../images/home/header-home-desktop@2x.jpg);
      }
    }
  }
}

#loginBtn {
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
#sign-out-btn {
  background-color: transparent;
  font-weight: 500;
  font-size: 12px;
  border: none;
  cursor: pointer;
  display: none;
}
#changeToLoginModal {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: get-bg-color(leading);
}

.header-search-form {
  margin-top: 41px;
  margin-bottom: 22px;

  @media screen and (min-width: 768px) {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1024px) {
    margin-top: 37px;
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5 solid white;
    min-width: 280px;
    background-color: transparent;

    @media screen and (min-width: 768px) {
      width: 336px;
    }

    @media screen and (min-width: 1024px) {
      width: 336px;
    }

    &:focus-within {
      border-bottom: 0.5px solid get-bg-color(leading);
    }
  }

  &__input {
    border: none;
    background-color: transparent;
    color: get-font-color(on-leading-bg);
  }
  &__icon {
    width: 12px;
    height: 12px;
    stroke: get-font-color(on-leading-bg);
    transition-property: scale, stroke;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
      stroke: get-bg-color(leading);
      cursor: pointer;
      scale: 1.2;
    }
  }
  &__btn {
    background-color: transparent;
    border: none;
  }
}
input::placeholder {
  font-weight: 400;
  color: get-font-color(on-leading-bg);
  line-height: 1.14;
  font-size: 14px;
}

input:hover,
input:focus,
input:active {
  outline: none;
}

.search-error {
  display: inline;
  color: #ff001b;
  line-height: 1.14;
  font-size: 14px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: center;
  }
}
