.grid_my_library {
  padding-top: 60px;
  padding-bottom: 46px;

  &__elements {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    list-style: none;
    justify-content: center;
    transition: opacity 300ms ease;
    @media screen and (min-width: 768px) {
      justify-content: flex-start;
    }

    // ----- DESKTOP -----
    @media screen and (min-width: 1024px) {
      justify-content: flex-start;
    }

    &.hidden {
      opacity:0;
    }
  }

  &__element {
    position: relative;
    background: none;
    outline: 0;
    border: 0;
    cursor: pointer;
    width: 274px;
    text-align: left;

    &:after {
      content: 'Movie details';
      font-size: 35px;
      font-weight: 500;
      box-sizing: border-box;
      padding: 0 10px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      position: absolute;
      top: -2.5%;
      left: -2.5%;
      width: 105%;
      height: calc(398px + 7%);
      max-height: 0;
      opacity: 0;
      border-radius: 5px;
      background-color: #ff6b01;
      transition: opacity 350ms ease, max-height 350ms ease;
    }

    &:hover:after, &:focus:after, &:active:after {
      opacity: .85;
      max-height: calc(398px + 7%);
    }
  }

  &__element-img {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 274px;
    height: 410px;
    object-fit: cover;
  }

  &__element-title, &__element-category, &__element-year {
    line-height: 1.33;
    font-weight: 500;
    font-size: 12px;
  }

  &__element-title {
    color: #000000;
    text-transform: uppercase;
  }

  &__element-category, &__element-year {
    color: #FF6B08;
  }

  &__element-year::before {
    content: ' | ';
  }

  &__element-score {
    display: inline-block;
    line-height: 1.17;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    background: #FF6B08;
    padding: 1px 6px;
    box-sizing: border-box;
    border-radius: 5px;
  }

  &__element-empty {
    position: relative;
    width: 100%;

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      left: 0;
      top: 15%;
      height: 70%;
      background-color: transparentize(#ff6b0a, .3);
      z-index: 1;
    }
  }

  &__element-empty-img {
    position: relative;
    z-index: 2;
    background: url('../images/my-library/my-library-empty-state.png') no-repeat 0 100% / contain;
    width: 411px;
    height: 373px;
    max-width: 100%;
  }

  &__element-empty-txt {
    position: relative;
    z-index: 3;
    right: 0;
    top: 0;
    font-size: 35px;
    font-weight: 300;
    transform: rotate(5deg) scale(.9);
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 30px;
    user-select: none;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      position: absolute;
      right: 0;
      top: 0;
      margin-bottom: unset;
      transform: rotate(5deg) scale(.8);
    }

    // ----- DESKTOP -----
    @media screen and (min-width: 1024px) {
      position: absolute;
      right: 5%;
      top: 5%;
      margin-bottom: unset;
      transform: rotate(5deg) scale(1);
    }
    strong {
      text-decoration: underline;
      color: #ff6b0a;
      font-weight: 700;
      font-size: 45px;
      right: 5%;
      top: 5%;
    }
  }
}
