// ----- MOBILE -----
.btn-is-hidden {
  display: none;
}

.pag-btns {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 40px;

  &__icon {
    max-width: 16px;
    max-height: 16px;
  }
}

.pag-btns__btn {
  color: get-font-color(black);
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  border: none;
  background-color: transparent;
  padding: 13px;
  margin-left: 5px;
  cursor: pointer;

  &--is-hidden {
    display: none;
  }

  &:hover {
    color: get-font-color(leading);
  }

  &--is-active {
    background-color: get-bg-color(leading);
    color: white !important;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    cursor: default;
  }
}

.pag-btns__arrow {
  border: none;
  background-color: transparent;
  cursor: pointer;
  stroke: black;

  &--next {
    margin-left: 5px;
  }

  &--is-hidden {
    display: none;
  }

  &--disabled {
    stroke: #8c8c8c !important;
    cursor: auto;
  }

  &:hover {
    stroke: get-font-color(leading);
  }
}

.pag-btns__dots {
  color: get-font-color(black);
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  border: none;
  background-color: transparent;
  margin-left: 5px;

  &--is-hidden {
    display: none;
  }
}

// ----- TABLET & DESKTOP------
@media screen and (min-width: 768px) {
  .pag-btns {
    padding-bottom: 60px;
  }
}
